[Unit]
Description=XMM7360 ModemManager State Monitor
After=ModemManager.service
Requires=ModemManager.service
# Restart this service whenever ModemManager restarts
BindsTo=ModemManager.service

[Service]
Type=simple
ExecStart=/usr/bin/xmm7360-watch
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
